@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-cream text-text-main antialiased;
  font-family: 'Inter', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;
}

::selection {
  background-color: #E5D1B0;
  color: white;
}
